<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.akupeduli.workshophari3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".IntentActivity" />
        <activity android:name=".IntentDetailActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".Day3F1Activity" />
        <activity android:name=".Day3F2Activity" />
        <activity android:name=".Day3F3Activity" />
        <activity android:name=".Day3F4Activity" />
        <activity android:name=".Day3F5Activity" />
        <activity android:name=".Day3F6Activity"></activity>
        <activity android:name=".Day3F6bActivity" />
        <activity android:name=".Day3F6cActivity" />
        <activity android:name=".Day3Test1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Day3TestDetailActivity"></activity>
    </application>

</manifest>